.App {
  text-align: center;
} 
.LogoName {
  font-family: fantasy;
  font-size: xx-large;
   

  
}
.Construction{
  font-family: cursive;
  height: 75vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  
}





